.test-results {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.test-results__loader-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 120px;
}

.test-results__cards-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.test-results__og-image {
    margin-top: 12px;
    width: 100%;
    height: auto;
}
